html {
  height: 100%;
}

body
{
  background-image: url(forestIMG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-size: 2vw;
}

.grid-container
{
  margin: auto;
  width: 55%;
  height: auto;
  background-color: #D3BDB0;
  outline: 3px solid black;
  margin-top: 120px;
}

#welcomeText
{
  width: auto;
  height: auto;
  padding: 30px;
  font-weight: bold;
  text-align: center;
}

#welcomeText p
{
  font-size: 25px;
}

.startButton
{
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

.paper-btn
{
  font-weight: bold;
}
