/*Written by Sameer Al Harbi
Version 2, Nov 2019*/
#mainBar {
  margin: auto;
  width: 350px;
  height: 350px;
  z-index: 10;
  object-fit: contain;
  position: relative;
}

#bar2 {
  width: 200px;
  height: 200px;
  margin: auto;
}

#bar3 {
  width: 200px;
  height: 200px;
  margin: auto;
}

.MainHeader {
  object-fit: fill;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 417px;
  background-image: url("forest.jpg");
  max-width: 1000px;
}

h1 {
  text-align: center;
  color: #6D545D;
}

h3 {
  color: #6D545D;
  margin-top: 100px;
  margin-left: 5px;
}

.container-fluid {
  background-image: url("forest.jpg");
  background-repeat: no-repeat;
  margin: auto;
  flex-grow: 1;
  background-size: cover;
  border: 3px solid white;
}

.container_plastic {
  background-repeat: repeat-x;
}

p {
  padding: 30px;
  color: white;
}

body {
  background-color: #8B9556;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.text-lead {
  color: ;
}
