#mainBar {
  margin: auto;
  width: 350px;
  height: 350px;
  z-index: 10;
}

#bar2 {
  width: 200px;
  height: 200px;
  margin:auto;
}

#bar3 {
  width: 200px;
  height: 200px;
  margin:auto;
}

.MainHeader{
  object-fit: fill;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 417px;
  background-image: url("forest.jpg");
  max-width: 1000px;


}
.mainBar{

  object-fit: contain;
  position: relative;

}

h1 {
  text-align: center;


}
h3 {

}

.container-fluid
{
  background-image: url("forest.jpg");
  background-repeat: no-repeat;
  margin: auto;
  flex-grow: 1;
  background-size: cover;
  border: 3px solid white;
}

.container_plastic
{
  background-repeat: repeat-x;

}
p
{
  padding: 30px;
  color: #89937C;
}
body
{
  background-color: #D3BDB0;

}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
